.main-content {
    position: fixed;
    top: 90px;
    bottom: 75px;
    left: 415px;
    width: calc(100% - 420px);
    max-width: 1500px;
    background-color: #252525;
    color: #f3f0ff;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: width 0.3s ease;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #252525;
  }
  
  .main-content::-webkit-scrollbar {
    width: 8px;
  }
  
  .main-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .main-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  