.navbar-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar-logo {
  max-width: 150px;
  margin-left: 100px;
}
