.sidebar {
  position: fixed;
  top: 90px;
  bottom: 75px;
  left: 5px;
  width: 400px;
  background-color: #252525;
  color: #f3f0ff;
  z-index: 1000;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.nav {
  padding-top: 20px;
}

.pill-container {
  display: flex;
  gap: 10px;
  margin-top: 0;
  flex-wrap: wrap;
  list-style-type: none;
}

.link-button {
  background-color: #4f4c52;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-button:hover {
  background-color: #d1b3ff;
  color: #5e2d91;
}
