.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #252525;
  color: #f3f0ff;
}

.auth-container {
  background-color: #121212;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #f3f0ff;
}

.input-group input:focus {
  outline: none;
  border-color: #5e2d91;
}

button {
  padding: 12px 20px;
  background-color: #5e2d91;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

button:hover {
  background-color: #4b2485;
}

.toggle-link {
  color: #5e2d91;
  cursor: pointer;
  text-decoration: underline;
}

.toggle-link:hover {
  color: #4b2485;
}
