.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #1e1e1e;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 160px;
  z-index: 2000;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  border-bottom: 1px solid #333;
  text-align: center;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-item {
  background: none;
  border: none;
  color: #f3f0ff;
  text-align: center;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
}

.dropdown-item:hover {
  background-color: #333;
}

.dropdown-portal-menu {
  position: fixed;
  z-index: 2000;
}

@media (max-width: 625px) {
  .dropdown-portal-menu {
    min-width: 150px;
  }
}
