.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: #1e1e1e;
  color: #f3f0ff;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 450px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  margin-right: 20px;
}

label {
  font-size: 1rem;
  color: #f3f0ff;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #888;
  background-color: #121212;
  color: #f3f0ff;
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="file"]:focus {
  border-color: #5e2d91;
}

.error {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

button {
  background-color: #5e2d91;
  color: #f3f0ff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #441f74;
}

input[type="file"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #888;
  background-color: #121212;
  color: #f3f0ff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  display: inline-block;
  text-align: center;
}

input[type="file"]:focus {
  border-color: #5e2d91;
  background-color: #1e1e1e;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #5e2d91;
  color: #f3f0ff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #441f74;
}


@media (max-width: 1000px) {
  .modal-content {
    background-color: #1e1e1e;
    color: #f3f0ff;
    padding: 30px;
    border-radius: 12px;
    width: 30%;
    height: 35%;
    max-width: 450px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s ease-in-out;
  }

}
