.main-content {
  position: fixed;
  top: 90px;
  bottom: 75px;
  left: 415px;
  width: calc(100% - 420px);
  max-width: 1500px;
  background-color: #252525;
  color: #f3f0ff;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition: width 0.3s ease;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #252525;
}

@media (max-width: 1200px) {
  .main-content {
    position: fixed;
    top: 90px;
    bottom: 75px;
    left: 215px;
    width: calc(100% - 220px);
    max-width: 1500px;
    background-color: #252525;
    color: #f3f0ff;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: width 0.3s ease;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #252525;
  }
}

@media (max-width: 768px) {
  .main-content {
    position: fixed;
    top: 90px;
    bottom: 75px;
    left: 215px;
    width: calc(100% - 220px);
    max-width: 1500px;
    background-color: #252525;
    color: #f3f0ff;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: width 0.3s ease;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #252525;
  }
}

@media (max-width: 625px) {
  .main-content {
    position: fixed;
    top: 90px;
    bottom: 75px;
    left: 120px;
    width: calc(100% - 125px);
    max-width: 1500px;
    background-color: #252525;
    color: #f3f0ff;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: width 0.3s ease;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #252525;
  }
}


  