.media-content {
  position: fixed;
  top: 90px;
  bottom: 75px;
  left: 415px;
  width: calc(100% - 420px);
  max-width: 1500px;
  background-color: #252525;
  color: #f3f0ff;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition: width 0.3s ease;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #252525;
}

@media (max-width: 1200px) {
  .media-content {
    left: 215px;
    width: calc(100% - 220px);
  }
}

@media (max-width: 625px) {
  .media-content {
    left: 125px;
    width: calc(100% - 130px);
  }
}

.media-content::-webkit-scrollbar {
  width: 8px;
}

.media-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.media-content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.media-page {
  padding: 20px;
}

.media-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.media-page-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.media-texts {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.media-artist {
  font-size: 0.9rem;
  color: #ccc;
  margin-left: 20px;
  margin-top: 4px;
}

h1 {
  font-size: 2rem;
  color: #f3f0ff;
  margin: 0;
  margin-left: 20px;
}

.media-controls {
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-top: 10px;
}

.control-icon {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

.control-icon:hover {
  color: #5e2d91;
}

.burger-menu {
  margin-left: auto;
}
