.media-content {
  position: fixed;
  top: 90px;
  bottom: 75px;
  left: 415px;
  width: calc(100% - 420px);
  max-width: 1500px;
  background-color: #252525;
  color: #f3f0ff;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition: width 0.3s ease;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #252525;
}

@media (max-width: 1200px) {
  .media-content {
    left: 215px;
    width: calc(100% - 220px);
  }
}

@media (max-width: 625px) {
  .media-content {
    left: 125px;
    width: calc(100% - 130px);
  }
}

.media-content::-webkit-scrollbar {
  width: 8px;
}

.media-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.media-content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.media-page {
  padding: 20px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.song-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  color: #f3f0ff;
}

.song-table th,
.song-table td {
  padding: 12px;
  text-align: left;
}

.song-table th {
  background-color: #333;
  color: #fff;
}

.song-table tr:hover {
  background-color: #555;
}

.song-table td {
  border-bottom: 1px solid #ddd;
}

.track-number-cell {
  width: 40px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.track-number {
  display: inline-block;
  transition: opacity 0.2s ease;
}

.hover-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
  color: #fff;
  pointer-events: none;
}

.song-row:hover .track-number {
  opacity: 0;
}

.song-row:hover .hover-play-icon {
  opacity: 1;
  pointer-events: auto;
  color: #5e2d91;
}

.album-row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
  scrollbar-width: thin;
  scrollbar-color: #888 #252525;
}

.album-row::-webkit-scrollbar {
  height: 8px;
}

.album-row::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.album-row::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.action-icon {
  font-size: 1.1rem;
  color: #f3f0ff;
  cursor: pointer;
  padding: 6px;
  transition: color 0.3s;
}

.action-icon:hover {
  color: #5e2d91;
}

.song-dropdown-menu {
  top: 25px;
  right: 10px;
}

.song-row.playing {
  background-color: #5e2d91;
  color: #fff;
}
