.navbar-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 80px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  gap: 2rem;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.navbar-logo {
  max-width: 120px;
  margin-left: 30px;
}

.navbar ul li {
  display: flex;
  align-items: center;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #555;
}

.navbar ul li button:hover {
  color: #555;
}

.dropdown-menu li button {
  background: none;
  border: none;
  color: #f3f0ff;
  text-align: center;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.navbar-profile-image:hover {
  transform: scale(1.1);
}

.navbar-profile {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #1e1e1e;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 200px;
  display: block;
  z-index: 2000;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.dropdown-menu li {
  border-bottom: 1px solid #333;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-item {
  color: #f3f0ff;
  text-decoration: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  transition: background-color 0.3s ease;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.navbar-profile:hover .dropdown-menu {
  display: block;
}

.navbar-upload-icon {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.navbar-upload-icon:hover {
  color: #555;
}