.playlist-card {
  width: 180px;
  height: 180px;
  background-color: #4f4c52;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

@media (max-width: 625px) {
  .playlist-card {
    width: 90px;
    height: 90px;
    background-color: #4f4c52;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
  }
}

.playlist-card:hover {
  transform: scale(1.05);
}

.playlist-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder-image {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d1b3ff;
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
  background-color: #333;
}

.playlist-title {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: #f3f0ff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 0;
}
